# Backend API URL
# Local development
# VITE_API_URL=http://127.0.0.1:8000
# VITE_JAVA_API_URL=http://localhost:8080

# Production
VITE_API_URL=https://<your-api-domain>/api-python
VITE_JAVA_API_URL=https://<your-api-domain>/api-java
