# Backend API URL
# Local development
# VITE_API_URL=http://127.0.0.1:8000
# VITE_JAVA_API_URL=http://localhost:8080

# Production
VITE_API_URL=https://apicore-devdobem.clinicarx.dev
VITE_JAVA_API_URL=https://apionboarding-devdobem.clinicarx.dev
VITE_AI_API_URL=https://apichatbot-devdobem.clinicarx.dev/ai
