#sandbox internal files
runtime_loader.js
devtools.tsx
jsx-dev-runtime.ts
.snowflake/
trash/
next.user-config.*

# Environment variables
.env
.env.*
!.env.example
.env*.local

# Common ignores
node_modules/
.next/
dist/
build/
*.tsbuildinfo
.DS_Store
